# Copyright (C) 2024  ANSSI
# SPDX-License-Identifier: CC0-1.0

input_pcaps/*
!input_pcaps/.gitkeep

# Configuration
config/*
!config/.gitkeep

# Python
**/__pycache__
.ruff_cache

# General
.idea
.vscode
.venv

.env